@use '../abstracts' as *;

.form {
  width: 100%;
  padding: 2.5rem;

  &__group {
    margin-bottom: 1rem;
  }

  &__input {
    width: 90%;
    border: none;
    padding: 1.5rem 2rem;
    transition: $def-transition;
    border-bottom: 3px solid transparent;
    background-color: rgba($white-color, 0.8);

    &:focus {
      outline: none;
      box-shadow: $small-shadow;
      border-bottom: 3px solid $primary-color-light;
    }

    &:focus:invalid {
      border-bottom: 3px solid $secondary-color-dark;
    }
  }

  &__label {
    display: block;
    font-size: 1.3rem !important;
    font-weight: 700;
    transition: $def-transition;
    transform: translate(0.7rem, -7.2rem);
  }

  &__input:placeholder-shown + &__label {
    transform: translate(2rem, -3.7rem);
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-left: 3rem;

    &-input {
      display: none;
      visibility: hidden;
    }

    &-label {
      font-size: 1.6rem;
      text-transform: capitalize;
      position: relative;
      cursor: pointer;
    }

    &-custom {
      position: absolute;
      top: 4px;
      left: -20px;
      width: 1.3rem;
      height: 1.3rem;
      outline: 2px solid $primary-color;
      outline-offset: 1px;
      border-radius: $rounded-radius;
      transition: $def-transition;
    }

    &-input:checked + &-label &-custom {
      background-color: $primary-color;
    }
  }
}

@include mediaQuery(labtop) {
  .form {
    width: 55%;
    padding: 5rem;

    &__group {
      margin-bottom: 1rem;
    }

    &__input {
      width: 90%;
      border: none;
      padding: 1.5rem 2rem;
      transition: all 0.3s;
      border-bottom: 3px solid transparent;
      background-image: rgba($white-color, 0.8);

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($black-color, 0.1);
        border-bottom: 3px solid $primary-color-light;
      }

      &:focus:invalid {
        border-bottom: 3px solid $secondary-color-dark;
      }
    }

    &__label {
      display: block;
      font-size: 1.3rem !important;
      font-weight: 700;
      transition: all 0.35s;
      transform: translate(0.7rem, -7.2rem);
    }

    &__input:placeholder-shown + &__label {
      transform: translate(2rem, -3.7rem);
      font-size: 1rem;
      visibility: hidden;
      opacity: 0;
    }

    &__radio {
      display: flex;
      align-items: center;
      gap: 5rem;
      padding-left: 3rem;

      &-input {
        display: none;
        visibility: hidden;
      }

      &-label {
        font-size: 1.6rem;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;
      }

      &-custom {
        position: absolute;
        top: 4px;
        left: -20px;
        width: 1.3rem;
        height: 1.3rem;
        outline: 2px solid $primary-color;
        outline-offset: 1px;
        border-radius: 50%;
        transition: all 0.2s;
      }

      &-input:checked + &-label &-custom {
        background-color: $primary-color;
      }
    }
  }
}
