@use '../abstracts' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba($black-color, 0.3);
  backdrop-filter: blur(8px);
  transition: all 0.3s;

  opacity: 0;
  visibility: hidden;

  &__grid {
    height: 100%;
    display: grid;
    grid-template-rows: 15rem 1fr;
    gap: 2rem;
  }

  &__content {
    position: absolute;
    padding: 5rem 2rem;
    top: 50%;
    left: 50%;
    width: 95%;
    background-color: $white-color;
    border-radius: $medium-radius;
    box-shadow: $small-shadow;
    overflow: hidden;
    transition: all 0.4s 0.2s;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;

    &-left {
      display: flex;
      img {
        width: 50%;
        display: block;
        object-fit: cover;
      }
    }
    &-right {
      div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.4rem;
        margin: 1rem 0 2rem 0;
        hyphens: auto;
      }
    }
  }

  // Toggling the modal
  &.modal-open {
    opacity: 1;
    visibility: visible;
  }
  &.modal-open &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .close-modal-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.1s;
    font-weight: 600;

    &:hover {
      color: $primary-color;
    }
  }

  @include mediaQuery(labtop) {
    &__grid {
      grid-template-rows: unset;
      grid-template-columns: 350px 1fr;
      align-items: center;
      gap: 3rem;
    }

    &__content {
      width: 75%;
      padding: 0;

      &-left {
        display: block;

        img {
          width: 100%;
        }
      }

      &-right {
        div {
          flex-direction: row;
          gap: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }
}
