// COLORS
$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$gray-color-light: #f0f0f0;
$gray-color-dark: #777;
$gray-color-darker: #333;

$white-color: #fff;
$black-color: #000;

// FONTS
$def-font-size: 1.6rem;
$def-line-height: 1.7;

// RADIUS
$small-radius: 2px;
$medium-radius: 4px;
$large-radius: 6px;
$rounded-radius: 50%;

// BOX-SHADOW
$small-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
$meduim-shadow: 0 2rem 4rem rgb(0 0 0 / 20%);

// TRANSITION
$fast-transition: all 0.2s;
$def-transition: all 0.3s;
